@CHARSET "ISO-8859-1";


body {
	background-image: url("#{resource['images:body-bg.gif']}");
	margin:0;
}

.logo {
	position: absolute;
	left: 2%;
	width: 30%;
	display: inline;
	color: white;
}

#menu {
	position: absolute;
	left: 32%;
	width: 50%;
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
	padding-bottom:15px;
	padding-top:15px;
}

.social {
	position: absolute;
	right: 20px;
	bottom:20px;
	display: inline;
}

.social span {
	float: left;
	display: inline;
	font-size: 20px;
	color: #9f9f9f;
	line-height: 16px;
	padding-right: 5px;
}

.social ul {
	list-style: none;
	display: inline;
}

.social ul li {
	float: left;
	display: inline;
	width: 16px;
	padding-right: 2px;
}

.social ul li a {
	float: left;
	display: inline;
	width: 16px;
	height: 16px;
	background: url("#{resource['images:social.gif']}") no-repeat 0 0;
	font-size: 0;
	line-height: 0;
}

.social ul li a.facebook {
	background-position: -18px 0;
}

.social ul li a.vimeo {
	background-position: -36px 0;
}

.social ul li a.rss {
	background-position: -54px 0;
}