<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div class="logo">
		<h1>CINELOISIR MOVIES STORE</h1>
	</div>
	<div id="menu">
		<h:form>
			<p:menubar>
				<p:menuitem value="SHOW ALL" action="#{catalog.findAllArticles()}" />
				<p:menuitem value="LATEST FILMS"
					action="#{catalog.findNewArticles()}" />
				<p:menuitem value="BestSeller"
					action="#{catalog.findBestSellingArticles()}" />
				<p:submenu label="SEARCH">
					<p:menuitem value="By Realease year" action="releaseyear" />
					<p:menuitem value="By genre" action="genre" />
					<p:menuitem value="By title" action="title" />
					<p:menuitem value="By director" action="director" />
				</p:submenu>
			</p:menubar>
			<h:panelGrid columns="2" cellpadding="5">
				<h:outputLabel for="username" value="Username: *" />
				<p:inputText value="#{}" id="username"
					required="true" label="username" />

				<h:outputLabel for="password" value="Password: * " />
				<h:inputSecret value="#{}" id="password"
					required="true" label="password" />
					<p:commandButton value="Login" actionListener="#{loginBean.login}"/>
			</h:panelGrid>
		</h:form>
	</div>
</ui:composition>
