<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<title><ui:insert name="title">CINELOISIR MOVIES STORE</ui:insert></title>
<h:outputStylesheet library="css" name="template.css"></h:outputStylesheet>
</h:head>

<body>

	<div id="header">
		<ui:insert name="header">
			 <ui:include src="header.xhtml"/> 
		</ui:insert>
	</div>

	<div id="content">
		<ui:insert name="content">
			<h1>Content area.</h1>
			<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
			<!-- <div> -->
			<!-- <ui:include src="content.xhtml"/> -->
			<!-- </div> -->
		</ui:insert>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<!--<h1>Footer area.</h1>-->
			<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
			<ui:include src="footer.xhtml"/>  
		</ui:insert>
	</div>

</body>

</html>
